.container{
    margin-bottom: 60px;
}
#navbarNav a{
    font-size: 20px;
    font-weight: 500;
}
.pink-bg{
    background-color: #FEEAE9;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom,#FF589B 0%, #FF136F 100%);
    color: #FFF;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cate-1, .cate-2, .cate-3{
    color: #FFF;
    padding: 10px 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cate-1{
    background-image: linear-gradient(90deg,#EF9335, #F4C81C);
}
.cate-2{
    background-image: linear-gradient(90deg, #EC478A, #EB1967);
}
.cate-3{
    background-image: linear-gradient(90deg, #4177FF, #3B11FC);
}
.categories img{
    width: 100px;
}

.card{
    border: none;
    box-shadow: 5px 5px 20px lightgray;
    border-radius: 5px;
}
.card-footer{
    background-color: #FFF;
    border: none;
    margin-bottom: 20px;
}
#contact{
    height: 300px;
}
#contact h6{
    color: gray;
    padding: 5px 0;
}
#contact button{
    margin-top: 5px;
}

footer{
    text-align: center;
    margin-bottom: 15px;
}